$colores: (
    primario: #F2E2D2, // Header y footer
    secundario: #C5C6C5, //Main 
    terciario: #84C0C6, // Mainboxes
    cuaternario: #000000, //Logo
    quinario: #FFFFFF, // Titulos, box articulos
    senario:#46B1C9, //.suscription
    );

$botones: (
    primario: #C5C6C5,
    secundario: #98a5a5,
    terciario: #FFFFFF,
    cuaternario: #84C0C6,
    );